@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --color-primary:hsl(170 100% 39%);
    --color-secundary:hsl(210 100% 68%);
    --color-bg-footer:hsl(none 0% 15%);
    --color-bg:hsl(210 100% 76%);
}

.btn{
    padding: 0.90rem 3rem;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.link{
    color: var(--color-primary);
    font-size: 1.55rem;
}

.color{
    display: inline-block;
    color: var(--color-primary);
}



img{
    max-width: 100%;
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}

ul{
    list-style: none;
}

button,
input, textarea{
    background-color: none;
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}